.IndexContainer {margin: 12px 6vw 20px}
.IndexFlexBox {display: flex}
.IndexContents, .HomeMainTopWindow {position: relative}
.IndexContents {width: 100%}
.HomeMainTopWindow {height: 38vh; padding: 4vh 8vw}
.IntroductionContainer {margin: 12px 0}
.IntroductionTabs > div > div {padding: 0 auto; font-size: 1.3em}
.PlanningBackground {margin: 0 0 4px; padding: 3vh 2vw; background-color: #015bb133;}
.PlanningFlexBox, .PlanningMenuRow {display: block}
.PlanningMenuRow {position: relative; margin: 16px 0 4px}
.PlanningMenuRow:not(:last-child) {border-bottom: 1px solid rgba(0, 0, 0, 0.12)}
.PlanningHeader, .PlanningMenuTitle {font-weight: 700; text-align: center}
.PlanningCard {margin: 4px 2vw; padding: 4px 8px}
.PlanningMenuContainer {padding: 8px; margin: 8px 12px}
.PlanningMenuTitle {font-size: 1.2em; margin: 8px}
.PlanningSvgContainer {margin: 8px auto; width: 60px; height: 60px; object-fit: contain}
.PlanningSvg {opacity: .4}
.PlanningMenuDescription {margin: 12px 2vw 4px}

@media (min-width:768px) {
  .IndexContainer {margin: 16px 8vw 20px}
  .IndexContents {width: 67%}
  .PlanningBackground {padding: 3vh 4vw}
  .PlanningFlexBox, .PlanningMenuRow {display: flex}
  .PlanningCard:hover {transform: scale(1.05); transition: all 0.2s;}
  .PlanningMenuContainer {margin: 0; padding: 0 auto}
  .PlanningMenuRow:not(:last-child) {border-bottom: none; border-right: 1px solid rgba(0, 0, 0, 0.12)}
  .PlanningMenuDescription {margin: 12px 0px 4px 8px}
}
