.PostIndexContainer {margin: 12px 6vw 20px}
.PostIndexFlexBox {display: flex}
.PostIndexContents, .PostIndexSideMenu, .MainFeaturedPostContainer {position: relative}
.PostIndexContents {width: 100%; margin: 0 16px}
.PostIndexSideMenu {width: 33%; margin: 24px 8px}

.MainFeaturedPost {width: 60vw; min-width: 280px; margin: 2em auto 1.2em}
.MainFeaturedPostContainer {height: 36vw; max-height: 300px; min-height: 200px; margin: 0; padding: 16px 8px; text-align: center}
.MainFeaturedPostTitle, .MainFeaturedPostDescription {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical}
.MainFeaturedPostTitle {font-size: 1.2em; -webkit-line-clamp: 2}
.MainFeaturedPostDescription {margin: 0 4px; font-size: 15px; -webkit-line-clamp: 4}

.PostSideMenuContainer {padding-top: 32px; margin-left: 20px}
.PostSideMenuContents {padding: 0px 4px 4px}
.PostSideMenuTitle {margin: 6px; font-size: 1.3em}
.PostSideMenuLinks {display: flex; padding: 6px 2px}
.CategoryIcon {font-size: 1.2em; height: 1.1em; margin: 2px 0px}

@media (min-width:768px) {
  .PostIndexContainer {margin: 16px 8vw 20px}
  .PostIndexContents {width: 67%}
  .MainFeaturedPostContainer {padding: 1.8em 1.2em}
  .MainFeaturedPostTitle {font-size: 1.7em}
  .MainFeaturedPostDescription {font-size: 1.1em}
}
