/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {line-height: 1.6; font-size: 14px; scroll-padding-top: 13vh}
* {box-sizing: border-box}
a {color: #1976d2; text-decoration: underline}
a:hover {text-decoration-thickness: 2px}
img {object-fit: cover}
h2 {font-size: 1.3em}
h3 {font-size: 1.2em}
ul {margin: 1em 0em 1em 2em; list-style-type: disc}
ol {margin: 1em 0em 1em 2.4em; list-style-type: decimal}
li {margin: .2em 0}
strong {font-weight: 700}
hr {margin: 0; border-style: solid; border-color: rgba(0, 0, 0, 0.12); border-bottom-width: 0}

/* Header */
.HeaderCenter {flex: 1}
.HomeButtonLink, .HeaderMenuLink, .DrawerMenuListLink {text-decoration: none; border-radius: 4px}
.HomeButtonLink {color: #015bb1; font-size: 1.4em; font-weight: 700; padding: 8px 2px}
.DrawerMenuListLink, .HeaderMenuLink {color: #000000de}
.HeaderMenuLink {font-size: 1.2em; padding: 10px}
.HeaderMenuLink:hover, .HomeButtonLink:hover {background-color: #f8f8f8; transition: all 0.3s}
.DrawerMenuList {padding: 4px 2px}

/* Top */
.GrayFilter {position: absolute; top: 0; bottom: 0; right: 0; left: 0; background-color: rgba(0,0,0,.4)}
.TopWindowTitle, .TopWindowDescription {margin: 0; padding: 0}
.TopWindowTitle {font-size: 2em}
.TopWindowDescription {font-size: 1.3em; font-weight: 300; white-space: pre-line}

/* Error */
.ErrorWindow {position: relative; height: 68vh; padding: 16vh 8px; text-align: center}

/* Contents */
.PostsLineUpPart {padding: 12px 4px 30px}
.PostsLineUpHeading {width: 100%; font-size: 1.5em; font-weight: 700; padding: .3em .6em; line-height: 1.2; border-left: 8px solid #015bb1; border-bottom: 1px solid}
.CardContainer {padding: 16px 12px 0}
.BlackTextLink {padding: 4px 2px; color: #000000de}
.BackToHomeLink {padding: 1.3em}
.BackToHomeLink > a {font: bold 1.1em sans-serif}

@media (min-width:768px) {
  body {font-size: 18px}
  h2 {font-size: 1.6em}
  h3 {font-size: 1.4em}
  .HomeButtonLink {font-size: 1.5em; padding: 12px 8px}
  .HeaderMenuLink {font-size: 1.1em; padding: 10px 6px}
  .TopWindowTitle {font-size: 2.7em}
  .TopWindowDescription {font-size: 1.6em}
  .StaticPageContainer {margin: 4em 16vw 3em}
  .PostsLineUpPart {padding: 16px 12px 30px}
}

@media (min-width:1024px) {
  .HomeButtonLink {font-size: 1.8em; padding: 12px 8px}
  .HeaderMenuLink {font-size: 1.2em; padding: 10px}
}