.FlexCardContainer {display: block; margin: 0 12px 0 0}
.RelatedPostsCardContainer {margin: 0 14px 0 0}
.PostPagesFeaturedCard, .IndexPagesFeaturedCard {width: 100%; margin: 0 .6em 1.2em}
.FeaturedCardFlexBox {display: flex}
.FeaturedCardImage, .FeaturedCardContents {position: relative}
.FeaturedCardImage {width: 33%}
.FeaturedCardContents {width: 67%}
.FeaturedCardTitle, .FeaturedCardDescription, .FeaturedCardDate {margin: .2em .4em}
.FeaturedCardTitle, .FeaturedCardDescription {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical}
.FeaturedCardTitle {-webkit-line-clamp: 2; font-size: 1.1em; font-weight: 700}
.FeaturedCardDescription {-webkit-line-clamp: 4; font-size: 14px}
.FeaturedCardDate {color: rgba(0, 0, 0, 0.6); font-size: 14px; text-align: right}

@media (min-width:768px) {
  .FeaturedCardTitle, .FeaturedCardDescription, .FeaturedCardDate {margin: .3em .6em}
  .FeaturedCardTitle {font-size: 16px}
  .FlexCardContainer {display: flex; margin: 0}
  .IndexPagesFeaturedCard {width: 50%; margin: 0 .6em}
}