.FlexCardContainer {display: block}
.PostPagesFeaturedCard {margin: 8px}
.IndexPagesFeaturedCard {width: 100%; margin: 1.2rem 0 .2rem}
.FeaturedCardFlexBox {display: flex}
.FeaturedCardImage {position: relative; width: 33%}
.FeaturedCardContents {position: relative; width: 67%}
.FeaturedCardTitle {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; font-size: 16px; margin: .1rem .4rem; padding: 2px}
.FeaturedCardDescription {overflow: hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 4; font-size: 14px; margin: .2rem .4rem; padding: 2px}
.FeaturedCardDate {color: rgba(0, 0, 0, 0.6); margin: .1rem .4rem; font-size: 14px; text-align: right}

@media (min-width:768px) {
  .FlexCardContainer {display: flex}
  .IndexPagesFeaturedCard {width: 50%; margin: 2px .6rem}
}