.FooterBackground {background-color: #e0e0e0; padding: 8px 0px 32px; margin: 0px auto}
.FooterContainer {display: block; margin: 0 2vw; padding: 8px 1.5em 16px}
.FooterMenuRow {position: relative; display: block}
.FooterMenuContainer {padding: 8px; margin: 0px auto 0px 12px}
.FooterMenuTitle {font-size: 22px; margin: 8px}
.FooterMenuSubTitle {font-size: 20px; margin: 6px 8px 2px}
.FooterLinks {display: inline-flex; flex-direction: column; margin: 4px 0px 4px 16px}
.FooterCopyRight {display: flex; justify-content: center}
.FooterCopyRightYear {margin: auto 6px}

@media (min-width:768px) {
  .FooterBackground {padding: 12px 0px 40px}
  .FooterContainer {display: flex; margin: 8px 12vw 12px}
  .FooterMenuRow {display: flex; width: 50%}
}
