.SideMenuContainer {padding-top: 32px; margin-left: 20px}
.SideMenuContents {padding: 0px 4px 4px}
.SideMenuTitle {margin: 6px; font-size: 1.3em}
.SideMenuLinks {display: flex; padding: 6px 2px}
.CategoryIcon {font-size: 1.2em; height: 1.1em; margin: 2px 0px}